# Default owner
*                                   @Truman-Xu

# Solvation and orientation
/crimm/Modeller/Solvator.py         @stanislc
/crimm/Modeller/CrystalSDF.py       @stanislc
/crimm/Modeller/CoordManipulator.py @stanislc

# Topology
/crimm/Modeller/TopoFixer.py        @Truman-Xu
/crimm/Modeller/TopoLoader.py       @Truman-Xu
/crimm/StructEntities/Topo*.py      @Truman-Xu
